.body{
   background-image: url("grasscutter2.png");
   
   background-size: 65%;
   }
   
   
   .boy{
      width:25%;
      height:15%%;   
      padding-top: 400px;
      padding-right:100px;
      
   }
  .raper{
      width:15%;
      height:10%%;   
      padding-top: 400px;
      padding-right:100px;
      
  }
  .apply{ 
   width:10%;
   height:10%%;   
   padding-top: 300px;
   padding-left:10px;
}
.bannana{
   width:10%;
   height:10%%;   
   padding-top: 500px;
   padding-left:10px;
}
.rock{
   width:10%;
   height:10%%;   
   padding-top: 500px;
   padding-left:10px;
}
.rock_2{
   width:15%;
   height:10%%;   
   padding-top: 400px;
   padding-right:40px;

    
}
